In [106]:
import re
import pandas as pd 
import string
from collections import defaultdict
from datetime import datetime

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
nltk.download('stopwords')

from wordcloud import WordCloud
import matplotlib.pyplot as plt

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lucie\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [107]:
df = pd.read_excel ('20231027-Donnees_Info_Poste.xlsx')

In [108]:
df

,titre,entreprise,lieu,categorie,contrat,salaire,parution,description,note,review
0,OT Data Support Engineer,Talison Lithium,"Greenbushes, Bunbury & South West WA",Other (Information & Communication Technology),Full time,NaN,Posted 19h ago,Operational Technology Data Support EngineerTa...,NaN,NaN
1,Campaign and Data Operations Manager,Melbourne Grammar School,"South Yarra, Melbourne VIC",Fundraising (Community Services & Development),Full time,NaN,Posted 15h ago,Campaign and Data Operations ManagerMelbourne ...,3.9,/companies/melbourne-grammar-school-437038/rev...
2,Data Analyst (Paid Internship),Police Credit Union Ltd,Adelaide SA,Business/Systems Analysts (Information & Commu...,Part time,NaN,Posted 13h ago,"A role you’ll love, with the opportunities & p...",4.0,/companies/police-credit-union-436554/reviews?...
3,Junior Data Analyst,Add Staff Recruitment Pty Ltd,"Fortitude Valley, Brisbane QLD",Business/Systems Analysts (Information & Commu...,Full time,"$55,000 – $60,000 per year",Posted 4d ago,Solar Service Guys (SSG) is a National Special...,NaN,NaN
4,Data Science Cadet,Jemena,Melbourne VIC,"Mathematics, Statistics & Information Sciences...",Contract/Temp,NaN,Posted 1d ago,About UsJemena is an Australian energy company...,3.0,/companies/jemena-432985/reviews?jobId=71046255
...,...,...,...,...,...,...,...,...,...,...
149,Senior Data Analyst,Akkodis,Canberra ACT,Database Development & Administration (Informa...,Contract/Temp,$90 - $130 p.h. + LongTerm Contract - Fed Gov,Posted 2d ago,Long term contract Baseline Security Clearance...,NaN,NaN
150,Campaign and Data Operations Manager,Melbourne Grammar School,"South Yarra, Melbourne VIC",Fundraising (Community Services & Development),Full time,NaN,Posted 15h ago,Campaign and Data Operations ManagerMelbourne ...,3.9,/companies/melbourne-grammar-school-437038/rev...
151,Data Engineer (Multiple roles),BV Talent,Canberra ACT,Database Development & Administration (Informa...,Contract/Temp,AUD 90 - 130 per hour,Posted 2d ago,7 month contract with 2 x 12 month extensions2...,NaN,NaN
152,Data Engineer,SOS Recruitment,Canberra ACT,Government - Federal (Government & Defence),Contract/Temp,NaN,Posted 2d ago,Web Ref: 18110Contract until 30 June 2024 with...,NaN,NaN
153,Data Engineering Manager,NCSI Australia Pty Limited,Melbourne VIC,Management (Information & Communication Techno...,Full time,Attractive salary and benefits,Posted 22h ago,Worldwide network of career opportunitiesOn-go...,NaN,NaN

In [120]:

def lemmatize_sentence(df,col):
      new_col=[]
      punctuation = string.punctuation
      st = set(stopwords.words('english'))
            
      new_name=col+"_modified"
      for metier in df[col]:
            metier = " ".join([word for word in metier.split() if word not in st])
            metier = metier.translate(str.maketrans("", "", punctuation))
            metier = re.sub(r"\d+", "", metier)
            metier=metier.lower()  
            lemmatizer = nltk.WordNetLemmatizer()
            tokens = nltk.word_tokenize(str(metier))
            lemmatized_tokens = " ".join([lemmatizer.lemmatize(token, pos="v") for token in tokens])
            new_col.append(lemmatized_tokens)
      df[new_name]=new_col
      return df

In [121]:
lemmatize_sentence(df,"titre")

,titre,entreprise,lieu,categorie,contrat,salaire,parution,description,note,review,titre_modified
0,OT Data Support Engineer,Talison Lithium,"Greenbushes, Bunbury & South West WA",Other (Information & Communication Technology),Full time,NaN,Posted 19h ago,Operational Technology Data Support EngineerTa...,NaN,NaN,ot data support engineer
1,Campaign and Data Operations Manager,Melbourne Grammar School,"South Yarra, Melbourne VIC",Fundraising (Community Services & Development),Full time,NaN,Posted 15h ago,Campaign and Data Operations ManagerMelbourne ...,3.9,/companies/melbourne-grammar-school-437038/rev...,campaign data operations manager
2,Data Analyst (Paid Internship),Police Credit Union Ltd,Adelaide SA,Business/Systems Analysts (Information & Commu...,Part time,NaN,Posted 13h ago,"A role you’ll love, with the opportunities & p...",4.0,/companies/police-credit-union-436554/reviews?...,data analyst pay internship
3,Junior Data Analyst,Add Staff Recruitment Pty Ltd,"Fortitude Valley, Brisbane QLD",Business/Systems Analysts (Information & Commu...,Full time,"$55,000 – $60,000 per year",Posted 4d ago,Solar Service Guys (SSG) is a National Special...,NaN,NaN,junior data analyst
4,Data Science Cadet,Jemena,Melbourne VIC,"Mathematics, Statistics & Information Sciences...",Contract/Temp,NaN,Posted 1d ago,About UsJemena is an Australian energy company...,3.0,/companies/jemena-432985/reviews?jobId=71046255,data science cadet
...,...,...,...,...,...,...,...,...,...,...,...
149,Senior Data Analyst,Akkodis,Canberra ACT,Database Development & Administration (Informa...,Contract/Temp,$90 - $130 p.h. + LongTerm Contract - Fed Gov,Posted 2d ago,Long term contract Baseline Security Clearance...,NaN,NaN,senior data analyst
150,Campaign and Data Operations Manager,Melbourne Grammar School,"South Yarra, Melbourne VIC",Fundraising (Community Services & Development),Full time,NaN,Posted 15h ago,Campaign and Data Operations ManagerMelbourne ...,3.9,/companies/melbourne-grammar-school-437038/rev...,campaign data operations manager
151,Data Engineer (Multiple roles),BV Talent,Canberra ACT,Database Development & Administration (Informa...,Contract/Temp,AUD 90 - 130 per hour,Posted 2d ago,7 month contract with 2 x 12 month extensions2...,NaN,NaN,data engineer multiple roles
152,Data Engineer,SOS Recruitment,Canberra ACT,Government - Federal (Government & Defence),Contract/Temp,NaN,Posted 2d ago,Web Ref: 18110Contract until 30 June 2024 with...,NaN,NaN,data engineer
153,Data Engineering Manager,NCSI Australia Pty Limited,Melbourne VIC,Management (Information & Communication Techno...,Full time,Attractive salary and benefits,Posted 22h ago,Worldwide network of career opportunitiesOn-go...,NaN,NaN,data engineer manager

In [122]:
df.titre_modified.value_counts()

data analyst                           18
data managers                           8
data engineer                           8
data scientist                          4
senior data analyst                     4
                                       ..
media data analyst entry level role     1
data entry officer darwin               1
head business intelligence insights     1
multiple business analysts data         1
data engineer multiple roles            1
Name: titre_modified, Length: 105, dtype: int64

In [147]:
def string_to_categorical_job(df,col):
    new_col=[]
    for metier in df[col]:
        if re.search("data", metier) is not None and (re.search("manager", metier) is not None or re.search("managers", metier) is not None or re.search("head", metier) is not None or re.search("managment", metier) is not None or re.search("management", metier) is not None  ):
            new_metier="data manager"
        elif re.search("data", metier) is not None and (re.search("analyst", metier) is not None or re.search("analytics", metier) is not None or re.search("specialist", metier) is not None or re.search("report", metier) is not None)  :
            new_metier="data analyst"
        elif re.search("data", metier) is not None and (re.search("scientist", metier) is not None or re.search("science", metier) is not None) :
            new_metier="data scientist"
        elif re.search("data", metier) is not None and re.search("engineer", metier) is not None:
            new_metier="data engineer"
        elif re.search("data", metier) is not None and (re.search("architect", metier) is not None or re.search("configuration", metier) is not None or re.search("administration", metier) is not None):
            new_metier="data architect"
        elif re.search("data", metier) is not None and re.search("entry", metier) is not None:
            new_metier="data entry"
        elif re.search("business", metier) :
            new_metier="business analyst"
        else:
            new_metier="other data job"
        new_col.append(new_metier)
    df[col]=new_col
    return df

In [160]:
#string_to_categorical_job(df,"titre_modified").head(155)
string_to_categorical_job(df,"titre_modified").to_excel(f"voir.xlsx", index=False)